

body{
    align-items: center;
    margin: 25px;
    height: 106px;
}
.container{
     display: block;
     padding: 20px;
     text-align: center;
     font-size: large;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    height: 106px;
    margin: -28px;
    padding: 20px;
}

.btn_1{
    opacity: 0.5;
    color: gray;
    justify-content: center;
    border-color: rgb(79, 79, 240);
    border-radius:7px;
    width: 250px;
    padding: 10px;
    margin: 3px;

}

.btn_2{
    text-align: center;
    background-color:  blue;
    font-weight: bold;
    color: aliceblue;
    border-radius:10px;
    width: 275px;
    padding: 13px;
    margin: 20px;
}

.btn_3{
    font-weight: bolder;
    color: aliceblue;
    background-color:  rgb(30, 171, 11);
    border-radius:5px;
    border-radius:10px;
    width: 275px;
    padding: 13px;
    margin: 20px;
}

.form {
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.container p {
    font-size: 30px;
}